<%- include('partials/head') %>

    <%- include('partials/navbar') %>

        <main>

            <!-- HERO SECTION -->
            <section class="hero">
                <h1 class="hero-title">because<br>what is fashion<br>without you</h1>
            </section>


            <!-- INFO SECTION -->
            <section class="info">

                <!-- first content wrapper -->
                <div class="info-row">
                    <div class="info-image">
                        <img src="" alt="">
                    </div>

                    <div class="info-textbox">
                        <p>Hier kommt ein text der erklärt warum es diese Website gibt.</p>
                    </div>
                </div>

                <!-- first content wrapper -->
                <div class="info-row">
                    <div class="info-textbox">
                        <p>Hier kommt ein text der erklärt warum es diese Website gibt.</p>
                    </div>

                    <div class="info-image">
                        <img src="" alt="">
                    </div>
                </div>
            </section>


            <!-- MOST VIEWD TAKES SECTION -->
            <section class="popular-takes">
                <h2 class="page-title">popular takes.</h2>

                <div class="slider">
                    <!-- visible Article Window -->
                    <div class="slider-track">
                        <!-- Article Card-->
                        <% article.forEach(article => { %>
                            <a href="/takes/<%= article.slug %>" class="article-card">
                                <div class="article-card-image"></div>
                                <span class="article-card-author"> <%= article.authorName %></span>
                                <h3 class="article-card-title"><%= article.title %></h3>
                            </a>
                        <% })  %>
                    </div>
                </div>
            </section>


            <!-- CONTACT US SECTION -->
            <!-- contact form temporarily disabled: future feat. add
                <section class="contact">
                    <h2 class="page-title">questions.</h2>

                    <div class="form-wrapper">

                         left panel: contact info
                        <div class="contact-info-panel">
                            <div class="contact-info-fields">
                                <div class="contact-info-item">
                                    <span class="contact-info-label">Email</span>
                                    <span class="contact-info-value">contact@coldtake.com</span>
                                </div>
                                <div class="contact-info-item">
                                    <span class="contact-info-label">Phone</span>
                                    <span class="contact-info-value">+49 123 456790</span>
                                </div>
                                <div class="contact-info-item">
                                    <span class="contact-info-label">Address</span>
                                    <span class="contact-info-value">coldtake<br>Donaustraße 44,<br>12043 Berlin</span>
                                </div>
                            </div>
                            <h3 class="form-title">contact us.</h3>
                        </div>

                         right panel: contact form 
                        <div class="form-panel">
                            <form class="form" action="/" method="post">
                                <div class="form-row">
                                    <div class="form-input-wrapper">
                                        <label class="input-label" for="name">Name</label>
                                        <input class="input" type="text" id="name" name="user_name" placeholder="Your full name">
                                    </div>
                                    <div class="form-input-wrapper">
                                        <label class="input-label" for="email">Email </label>
                                        <input class="input" type="email" id="email" name="user_email" placeholder="Your Email address">
                                    </div>
                                </div>
                                <div class="form-input-wrapper form-wrapper--full">
                                    <label class="input-label" for="message">Message</label>
                                    <textarea class="input" id="message" name="user_message" placeholder="Write something..."></textarea>
                                </div>
                                <button type="submit">Send Message</button>
                            </form>
                        </div>
                    </div>
                </section>
            -->

        </main>

        <%- include('partials/footer') %>