<%- include('partials/head') %>

    <%- include('partials/navbar') %>

        <main>
            <!-- STATE IT SECTION -->
            <section class="publish">
                <div class="page-title-wrapper">
                    <h1 class="page-title">state it.</h1>
                    <span class="page-description">BE BOLD. DON'T JUST AGREE.<br>FORM YOUR OPINION.<br>AND STATE IT.</span>
                </div>

                <div class="subsection-forms" >
                    <!-- TAKE PUBLISH -->
                    <div class="form-wrapper">
                        <!-- Left Panel -->
                        <div class="form-panel form-panel--red">
                            <div class="form-panel-content">
                                <div class="form-panel-content--text-wrapper">
                                    <p class="panel-label">What</p>
                                    <p class="panel-text">Write down your opinion on fashion. Unfiltered, considered, and entirely your own. A take you've been sitting on. One that never had the right place to land. Until now.</p>
                                </div>
                                <div class="form-panel-content--text-wrapper">
                                    <p class="panel-label">How</p>
                                    <p class="panel-text">Fill in your details, write your take, and publish. You choose the name it appears under. Your own, a pseudonym, or nothing at all. No account needed. No approval required.</p>
                                </div>
                            </div>
                            <h2 class="panel-title">publish.</h2>
                        </div>

                        <!-- Right Panel: Publish Form States-->
                        <% if (typeof publishState !== 'undefined' && publishState === 'form') { %>
                            <!-- Default: Form -->
                            <form class="form-content" action="/takes/state-it" method="POST">
                                <div class="form-row">
                                    <div class="form-input-wrapper form-input-wrapper--half">
                                        <label class="form-label" for="authorName">Author</label>
                                        <input class="form-input" type="text" id="authorName" name="authorName" placeholder="Your full name*"
                                            required>
                                    </div>
                                    <div class="form-input-wrapper form-input-wrapper--half">
                                        <label class="form-label" for="socials">Socials</label>
                                        <input class="form-input" type="text" id="socials" name="socials" placeholder="App: name; App: ...">
                                    </div>
                                </div>
                                <div class="form-input-wrapper">
                                    <label class="form-label" for="title">Title</label>
                                    <input class="form-input" type="text" maxlength="80" id="title" name="title" placeholder="Your article title*" required>
                                </div>
                                <div class="form-input-wrapper">
                                    <label class="form-label" for="body">Article</label>
                                    <textarea class="form-textarea" id="body" name="body" placeholder="Copy your article in here*"
                                        required></textarea>
                                </div>
                                <button class="form-button" type="submit" class="btn-primary">Publish</button>
                            </form>
                        
                        <!-- Error -->
                        <% } else if (publishState === 'error') { %>
                            <form class="form-content" action="/takes/state-it" method="POST">
                                <div class="form-row">
                                    <div class="form-input-wrapper form-input-wrapper--half">
                                        <label class="form-label" for="authorName" style="color: red;">Author required</label>
                                        <input class="form-input" type="text" id="authorName" name="authorName" placeholder="Your full name*"
                                            required>
                                    </div>
                                    <div class="form-input-wrapper form-input-wrapper--half">
                                        <label class="form-label" for="socials">Socials</label>
                                        <input class="form-input" type="text" id="socials" name="socials" placeholder="App: name; App: ...">
                                    </div>
                                </div>
                                <div class="form-input-wrapper">
                                    <label class="form-label" for="title" style="color: red;">Title required</label>
                                    <input class="form-input" type="text" maxlength="80" id="title" name="title" placeholder="Your article title*" required>
                                </div>
                                <div class="form-input-wrapper">
                                    <label class="form-label" for="body" style="color: red;">Article required</label>
                                    <textarea class="form-textarea" id="body" name="body" placeholder="Copy your article in here*"
                                        required></textarea>
                                </div>
                                <button class="form-button" type="submit" class="btn-primary">Publish</button>
                            </form>

                        <!-- Success -->
                        <% } else if (publishState === 'success') { %>
                            <div class="form-content form-content--just-text">
                                <p>Your Take has been successfully published.</p>
                                <p>Code: <strong style="font-weight: 600;"><%= editCode %></strong></p>
                                <p>(important! keep this code<br>somewhere, you will need it to<br>edit or delete a Take safe)</p>
                                <a href="/takes/<%= article.slug %>"><strong style="font-weight: 600;"><u>View your Take here!</u></strong></a>
                            </div>
                        <% } %>
                    </div>


                    <!-- TAKE EDIT -->
                    <div class="form-wrapper">

                        <!-- Left Panel -->
                        <div class="form-panel form-panel--black">
                            <h2 class="panel-title">edit.</h2>
                            <div class="form-panel-content">
                                <div class="form-panel-content--text-wrapper">
                                    <p class="panel-label">What</p>
                                    <p class="panel-text">Return to a take you've already published - to refine the argument, correct something, or remove it from the platform entirely.</p>
                                </div>
                                <div class="form-panel-content--text-wrapper">
                                    <p class="panel-label">How</p>
                                    <p class="panel-text">Enter the personal access code you received when you first published your take. It was sent to you then, and it belongs to you alone. No account, no login. Just the code.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Right Panel: Edit Form States -->
                        <!-- Access Code -->
                        <% if (typeof editState === 'undefined' || editState === 'code') { %>
                            <form class="form-content" action="/takes/edit/verify" method="POST">
                                <div class="form-input-wrapper">
                                    <label class="form-label" for="editCode">Access Code</label>
                                    <input class="form-input" type="text" id="editCode" name="editCode" placeholder="Your personal article code">
                                </div>
                                <button class="form-button" type="submit" class="btn-primary">Check</button>
                            </form>
                        
                        <!-- Code Error -->
                        <% } else if (editState === 'code-error') { %>
                            <form class="form-content" action="/takes/edit/verify" method="POST">
                                <div class="form-input-wrapper">
                                    <label class="form-label" for="editCode" style="color: red;">Wrong code. Try again.</label>
                                    <input class="form-input" type="text" id="editCode" name="editCode" placeholder="Your personal article code">
                                </div>
                                <button class="form-button" type="submit" class="btn-primary">Check</button>
                            </form>
                        
                        <!-- Choice -->
                        <% } else if (editState === 'choice') { %>
                            <div class="form-content">
                                <p>Do you want to edit or delete your take?</p>
                                <form action="/takes/edit/<%= article._id %>" method="POST">
                                    <div class="button-choice-wrapper">
                                        <button class="form-button" type="submit" name="action" value="edit" class="btn-primary">Edit</button>
                                        <button class="form-button" type="submit" name="action" value="delete" class="btn-primary">Delete</button>
                                    </div>
                                </form>
                            </div>

                        <!-- form -->
                        <% } else if (editState === 'form') { %>
                            <form class="form-content" action="/takes/edit/<%= article._id %>/update" method="POST">
                                <div class="form-input-wrapper">
                                    <label class="form-label">Title</label>
                                    <input class="form-input" type="text" maxlength="80" name="title" value="<%= article.title %>" required>
                                </div>
                                <div class="form-input-wrapper">
                                    <label class="form-label">Article</label>
                                    <textarea class="form-textarea" name="body" required><%= article.body %></textarea>
                                </div>
                                <div class="form-input-wrapper">
                                    <label class="form-label">Socials</label>
                                    <input class="form-input" type="text" name="socials" value="<%= article.socials %>">
                                </div>
                                <button class="form-button" type="submit" name="action" value="edit" class="btn-primary">Publish</button>
                            </form>

                        <!-- Success -->
                        <% } else if (editState === 'edit-success') { %>
                            <div class="form-content form-content--just-text">
                                <p>Your Take has been successfully updated!</p>
                            </div>

                        <!-- Right Panel: Delete Form States -->
                        <!-- Confirmation -->
                        <% } else if (editState === 'delete-confirm') { %>
                            <div class="form-content">
                                <p>Are you sure you want to delete this Take?</p>
                                <form action="/takes/delete/<%= article._id %>" method="POST">
                                    <div class="button-choice-wrapper">
                                        <button class="form-button" type="button" class="btn-primary" onclick="history.back()">Back</button>
                                        <button class="form-button form-button-deleteConfirm" type="submit" class="btn-primary">Delete</button>
                                    </div>
                                </form>
                            </div>
                            
                        <!-- Success -->
                        <% } else if (editState === 'delete-success') { %>
                            <div class="form-content form-content--just-text">
                                <p>Your Take has been successfully deleted!</p>
                            </div>
                        <% } %>
                    </div>
                </div>
            </section>

        </main>
        
        <%- include('partials/footer') %>