<%- include('partials/head') %>

<%- include('partials/navbar') %>

<main>
    
    <!-- Takes Section -->
    <section class="takes">
        <h1 class="page-title">takes.</h1>

         <!-- Article Index -->
        <div class="article-index">
           
            <!-- Selection Bar -->
            <div class="controls-wrapper">
                <h2 class="takes-subtitle">selected opninions</h2>

                <!-- Article Display Controls -->
                <div class="controls">
                    <!-- Filter & Sort Dropdown -->
                    <!-- Filter temporarily disabled (tags in form are missing: future feat. add)
                    <div class="dropdown">
                        <button class="dropdown-toggle" id="filter-btn">filter</button>
                        <div class="dropdown-menu hidden" id="filter-menu">
                            <button class="pill active" data-filter="all">all</button>
                            <button class="pill" data-filter="style">style</button>
                            <button class="pill" data-filter="industry">industry</button>
                            <button class="pill" data-filter="culture">culture</button>
                            <button class="pill" data-filter="trends">trends</button>
                        </div>
                    </div>
                    -->

                    <!-- Sort Dropdown -->
                    <div class="dropdown">
                        <button class="dropdown-toggle" id="sort-btn">sort</button>
                        <div class="dropdown-menu hidden" id="sort-menu">
                            <button class="sort-option" data-sort="newest">Newest</button>
                            <button class="sort-option" data-sort="oldest">Oldest</button>
                            <button class="sort-option" data-sort="most-viewed">Most<br>viewed</button>
                        </div>
                    </div>

                    <!-- Search Option -->
                    <!-- Filter temporarily disabled (tags in form are missing: future feat. add) 
                    <input type="search" placeholder="Search..." id="search-input">
                    -->
                </div> 
            </div>

            <div class="article-grid">
                <!-- Article Card-->
                <% article.forEach(article => { %>
                    <a href="/takes/<%= article.slug %>" 
                        class="article-card grid-article-card" 
                        data-publishedat="<%= article.publishedAt %>" 
                        data-viewcount="<%= article.viewCount %>">
                        <div class="article-card-image">
                            <% if (article.coverImageUrl) { %>
                                <img src="<%= article.coverImageUrl %>" alt="<%= article.title %>">
                            <% } else { %>
                                <img src="/images/ximage_opinionarticle_smokingaccessory.png" alt="No cover image">
                            <% } %>
                        </div>
                        <div class="article-card-info">
                            <span class="article-card-info-author"> <%= article.authorName %></span>
                            <h3 class="article-card-info-title"><%= article.title %></h3>
                        </div>
                    </a>
                <% }) %>
            </div>

        </div>

    </section>
</main>

<%- include('partials/footer') %>